# Default ignored files
/shelf/
/.idea/workspace.xml
# IntelliJ IDEA project files
.idea/
*.iml

# Build output
out/
build/
target/

# Compiled Java classes
*.class

# OS junk files
.DS_Store
Thumbs.db
